body {
    background-color: black;
}

.contactwrapper {
    background-color: white;
    width: 750px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 30px auto;
    display:block;
}

.addcontactwrapper {
    background-color: white;
    width: 750px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 30px auto;
    display:block;
}

.addcontactform {
    background-color: white;
    width: 700px;
    padding-top: 20px;
    padding-bottom: 20px;
    display:block;
}

.form-label {
    background-color: white;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 40%;
    display:block;
}